<div class="well about">
  <h1 style="color: #193750">My name is Alex but I go by my dev name Alex1100. I built this site from a request of a peer and I haven't regretted it since. Hopefully this resource will be of use to someone in need. Cheers!</h1>
</div>
